{% extends "base.html" %}

{% block announce %}
<!--For Google Fonts-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">-->

<style>
  .announcement-banner {
    text-align: center;
    /*color: white;*/
    /*Fonts*/
    /*font-family: "EB Garamond", serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*font-size: 1.5em;*/
  }
</style>

<div class="announcement-banner">
  ✨ <strong>Welcome!</strong> This site is currently under active development. Check back soon for updates.
</div>
{% endblock %}